.heroSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  background: #fff;
  padding: 6rem 9% 9rem;
}

.welcome {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #f35a78;
}

.header {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1.5rem;
  color: #040349;
}

.headerDesc {
  text-align: justify;
  text-justify: distribute;
  text-align-last: left;
  line-height: 1.8;
  font-size: 1.2rem;
  font-weight: 400;
  color: #333;
}

.buttons {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

.heroBanner {
  justify-self: center;
  align-self: center;
}

.heroBanner img {
  width: 120%;
  height: 100%;
}

@media (max-width: 1020px) {
  .header {
    font-size: 2rem;
  }

  .heroSection {
    gap: 1.5rem;
  }

  .headerDesc {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .heroSection {
    grid-template-columns: repeat(1, 1fr);
  }
  .heroBanner {
    grid-row: 1 / 2;
  }

  .heroBanner img {
    width: 100%;
  }

  .welcome {
    display: none;
  }

  .header {
    text-align: center;
  }

  .buttons {
    justify-content: center;
  }
}

@media (max-width: 665px) {
  .heroSection {
    padding: 6rem 9% 5rem;
  }
  .headerDesc {
    font-size: 1.15rem;
  }
}
