.mainContainer {
  background-color: #030166;
  width: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
}

.navLogo {
  font-size: 2rem;
}

.navLogo a {
  color: #fff;
}

.navRoutes {
  display: flex;
  gap: 3rem;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
}

.navRoute {
  color: gold;
}

@media (max-width: 880px) {
  .navRoutes {
    display: none;
  }
}
