.bottomTab {
  display: flex;
}

.bottomNav:hover {
  color: #000;
  scale: 1.2;
  transition: all 0.3s;
}

.iconContainer:hover {
  color: #000;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 880px) {
  .bottomNav {
    color: #555;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .bottomTab {
    background: #f0f0f0;
    justify-content: space-around;
    padding: 8px 0;
    position: sticky;
    bottom: 0;
  }
}

@media (max-width: 375px) {
  .iconContainer {
    gap: 1px;
    font-size: 0.85rem;
    font-weight: 600;
  }

  .bottomNav {
    font-size: 1.3rem;
  }
}
