@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
}

:root {
  --basic-blue: #030167;
  --default-text: #555;
  --white: #fff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: var(--default-text);
}

.myBtn {
  border: none;
  padding: 8px 13px;
  border-radius: 3px;
  font-size: 1.2rem;
  cursor: pointer;
  background: var(--basic-blue);
  border: 1px solid var(--basic-blue);
  color: var(--white);
  box-shadow: var(--box-shadow);
  font-weight: 500;
  transition: all 0.3s;
  font-family: "Poppins", sans-serif !important;
}

.myBtn:hover {
  transform: translateY(-2px);
  background-color: #fff;
  color: var(--basic-blue);
  border: 1px solid var(--basic-blue);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 375px) {
  .myBtn {
    padding: 6px 10px;
    font-size: 1rem;
  }
}
